<div class="main-layout">
    <nav class="top-nav">
        <ul class="parent-list">
            <li class="logo-item">
                <img src="assets/pngegg (1).png" alt="CRM Logo" class="logo-img" />
            </li>
            <ul class="chiled-list">
                <a class="logout-btn" routerLink="/login">
                    <li>Logout</li>
                </a>
            </ul>
        </ul>
    </nav>
    <div class="layout-wrapper">
        <app-sidebar></app-sidebar>
        <div class="content-area">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>
