.main-layout {
    background-color: #292f4c;
    color: #fff;
    height: 100vh;
    margin: auto;
    padding: 20px 15px;
    overflow-y: hidden;
    display: flex;
    flex-direction: column;
}
.layout-wrapper {
    display: flex;
    flex: 1;
    gap: 5px;
}

.content-area {
    background-color: #181b34;
    flex: 1;
    padding: 10px;
    border-radius: 10px;
}
.top-nav {
    background-color: #292f4c;
    padding: 0px 5px;
}

.top-nav .parent-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}
.top-nav .chiled-list .logout-btn {
    color: #d5d8d7;
    transition: all ease 0.2s;
}
.top-nav .chiled-list .logout-btn:hover {
    color: #fafbfb;
}

.logo-img {
    height: 40px;
    width: auto;
}

.admin-item {
    color: white;
}
