.login-section {
  background-color: #030712;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.login-header {
  /* background-color: tomato; */
  display: flex;
  flex-direction: column;
  align-items: center;
}
.login-header .login-icon {
  background-color: aliceblue;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  border-radius: 5px;
  margin-bottom: 5px;
  color: #101828;
}
.login-header .login-title {
  font-size: 24px;
  font-weight: 500;
  color: white;
}
.login-header .login-subtitle {
  font-size: 14px;
  font-weight: 300;
  color: rgba(255, 255, 255, 0.637);
}
.login-card {
  background-color: #101828;
  width: 400px;
  padding: 30px;
  border-radius: 10px;
}
.login-form {
  margin: 16px 0px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.form-group {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.form-group .form-label {
  font-size: 14px;
  font-weight: 500;
  color: aliceblue;
}
.form-group .form-input {
  padding: 5px 0px;
  padding-left: 10px;
  background-color: #1c2433;
  color: aliceblue;
  background: rgba(255, 255, 255, 0.05);
  border: 1px solid rgba(255, 255, 255, 0.1);
}

.login-form .btn-submit {
  background: #101828;
  background: linear-gradient(
    360deg,
    rgb(36, 52, 83) 40%,
    rgba(45, 54, 117, 1) 100%
  );
  color: aliceblue;
  padding: 5px 0px;
  margin-top: 5px;
  transition: all ease 0.5s;
}
.login-form .btn-submit:hover {
  background: linear-gradient(
    360deg,
    rgb(30, 42, 66) 40%,
    rgba(45, 54, 117, 1) 100%
  );
}
