<div class="login-section">
  <div class="login-card">
    <div class="login-header">
      <div class="login-icon"><i class="fa-solid fa-user"></i></div>
      <h1 class="login-title">Welcome to Mini CRM</h1>
      <p class="login-subtitle">Sign in to Manage Your Customers</p>
      </div>
      <form class="login-form">
        <!-- email form group -->
        <div class="form-group">
          <label for="email" class="form-label">Email Address</label>
          <input
            type="email"
            name="password"
            id="email"
            class="form-input"
            required
          />
        </div>
        <!-- password form group -->
        <div class="form-group">
          <label for="password" class="form-label">Password</label>
          <input
            type="password"
            name="password"
            id="password"
            class="form-input"
          />
        </div>
        <button class="btn-submit" type="submit">Sign In</button>
      </form>
  </div>
</div>
