<div class="login-section">
    <div class="login-card">
        <div class="login-header">
            <div class="login-icon"><i class="fa-solid fa-user"></i></div>
            <h1 class="login-title">Welcome to Mini CRM</h1>
            <p class="login-subtitle">Sign in to Manage Your Customers</p>
        </div>
        <form class="login-form" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
            <!-- email form group -->
            <div class="form-group">
                <label for="email" class="form-label">Email Address</label>
                <input formControlName="email" type="email" name="password" id="email" class="form-input" required />
                @if (loginForm.get('email')?.invalid && (loginForm.get('email')?.dirty || loginForm.get('email')?.touched)) {
                    @if (loginForm.get('email')?.errors?.['required']) {
                        <div class="p-2 bg-[#331B2A] border-b-2 border-[#79292e] text-sm text-[#D7A7AA]">
                            <i class="fa-solid fa-xmark mr-2 text-sm"></i>
                            Email is required
                        </div>
                    }
                    @if (loginForm.get('email')?.errors?.['email']) {
                        <div class="p-2 bg-[#331B2A] border-b-2 border-[#79292e] text-sm text-[#D7A7AA]">
                            <i class="fa-solid fa-xmark mr-2 text-sm"></i>
                            Enter a valid email address
                        </div>
                    }
                }
            </div>
            <!-- password form group -->
            <div class="form-group">
                <label for="password" class="form-label">Password</label>
                <input formControlName="password" type="password" name="password" id="password" class="form-input" />
                @if (loginForm.get('password')?.invalid && (loginForm.get('password')?.dirty || loginForm.get('password')?.touched)) {
                    @if (loginForm.get('password')?.errors?.['required']) {
                        <div class="p-2 bg-[#331B2A] border-b-2 border-[#79292e] text-sm text-[#D7A7AA]">
                            <i class="fa-solid fa-xmark mr-2 text-sm"></i>
                            Password is required
                        </div>
                    }
                    @if (loginForm.get('password')?.errors?.['minlength']) {
                        <div class="p-2 bg-[#331B2A] border-b-2 border-[#79292e] text-sm text-[#D7A7AA]">
                            <i class="fa-solid fa-xmark mr-2 text-sm"></i>
                            Password Should be atleast 8 characters
                        </div>
                    }
                }
            </div>
            <button class="btn-submit" type="submit" [disabled]="isLoading || loginForm.invalid">
                @if (isLoading) {
                    <span class="text-[#fff]"><i class="fa-solid fa-spinner spinner"></i></span>
                } @else {
                    <span>Sign In</span>
                }
            </button>
            @if (authError) {
                <div class="p-2 bg-[#331B2A] border-b-2 border-[#79292e] text-sm text-[#D7A7AA]">
                    <i class="fa-solid fa-xmark mr-2 text-sm"></i>
                    {{ authError }}
                </div>
            }
        </form>
    </div>
</div>
