.sidebar {
    width: 250px;
    height: 100%;
    padding: 10px;
    background-color: #20243f;
    color: aliceblue;
    border-radius: 10px;
}
.sidebar-nav ul {
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.sidebar-nav ul li {
    padding: 5px 10px;
    color: #d5d8d7;
    border-radius: 5px;
    transition: all ease 0.1s;
}
.sidebar-nav ul li:hover {
    cursor: pointer;
    background-color: #4b4e69;
}
.sidebar-nav a.active {
    background-color: #4b4e69;
    color: #818cf8;
    border-radius: 5px;
}
